.tnx {
   display: flex;
   align-items: center;
   justify-content: center;

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__icon {
      width: 80px;
      height: 80px;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 20px;
   }

   &__title {
      font-weight: 400;
      font-size: 24px;
      color: $title;

      margin-bottom: 15px;
   }

   &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;
      color: $text;
   }
}


.label {
   &--active {
      display: flex;
   }
   width: 385px;
   min-height: 99px;
   padding: 16px 20px;

   display: none;
   align-items: center;


   background-color: #fff;
   border-radius: 5px;

   position: absolute;
   top: 100px;
   right: 150px;

   &__icon {
      flex: 0 0 65px;
      height: 65px;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 15px;
   }

   &__title {
      font-weight: 400;
      font-size: 22px;
      line-height: 1.3;
      color: $title;

      margin-bottom: 10px;
   }

   &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;
      color: $text;
   }

   .btn {
      display: none;
   }

   @media screen and (max-width:1364px) {
      right: 50px;
   }

   @media screen and (max-width:768px) {
      width: 100%;
      height: 100%;

      position: fixed;
      z-index: 99;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;

      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__icon {
         width: 80px;
         height: 80px;
         margin-right: 0;
         margin-bottom: 20px;
      }

      &__title {
         font-size: 24px;
         line-height: 1.5;
      }

      &__content {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      &__text {
         margin-bottom: 20px;
         text-align: center;
      }

      .btn {
         display: flex;
         width: 290px;
      }
   }
}