:root {
   box-sizing: border-box;
}

*,
::before,
::after {
   box-sizing: inherit;
}


html,
body {
   width: 100%;
   height: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
}

img {
   max-width: 100%;
}

a {
   display: block;
   text-decoration: none;
}

button {
   border: none;
   padding: 0;
   margin: 0;
   background-color: transparent;
   cursor: pointer;
}

.container {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;

   @media screen and (min-width: 768px) {
       max-width: 748px;
   }

   @media screen and (min-width: 1364px) {
       max-width: 1344px;
   }
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin-left: -10px;
   margin-right: -10px;

   @media screen and (min-width: 1364px) {
       margin-left: -10px;
       margin-right: -10px;
   }
}

.col {
   display: flex;
   flex-direction: column;
   flex: 0 0 auto;
   padding-left: 10px;
   padding-right: 10px;

   @media screen and (min-width: 1364px) {
       padding-left: 10px;
       padding-right: 10px;
   }
}

.no-gutters {
   margin-right: 0;
   margin-left: 0;
 
   > .col,
   > [class*="col-"] {
     padding-right: 0;
     padding-left: 0;
   }
 }


.row-cols-1 > * {
   width: 100%;
}
 
.row-cols-2 > * {
   width: 50%;
}

.row-cols-3 > * {
   width: 33.3333333333%;
}

.row-cols-4 > * {
   width: 25%;
}

.row-cols-5 > * {
   width: 20%;
}

.row-cols-6 > * {
   width: 16.6666666667%;
}

// column grid--------------------------------->>>>>

.cols-1 {
   width: 100%;
}

.cols-2 {
   width: 80%;
}

.cols-3 {
   width: 66.6666666666%;
}

.cols-4 {
   width: 60%;
}

.cols-5 {
   width: 40%;
}

.cols-6 {
   width: 33.3333333333%;
}

.cols-7 {
   width: 20%;
}

.cols-8 {
   width: 16.6666666667%;
}

@media screen and (min-width: 576px) {
   .row-cols-sm-1 > * {
       width: 100%;
   }

   .row-cols-sm-2 > * {
       width: 50%;
   }

   .row-cols-sm-3  > * {
       width: 33.3333333333%;
   }

   .row-cols-sm-4 > * {
       width: 25%;
   }

   .row-cols-sm-5 > * {
       width: 20%;
   }

   .row-cols-sm-6 > * {
       width: 16.6666666667%;
   }

   // column grid--------------------------------->>>>>

   .cols-sm-1 {
      width: 100%;
   }
   
   .cols-sm-2 {
      width: 80%;
   }

   .cols-sm-3 {
      width: 66.6666666666%;
   }

   .cols-sm-4 {
      width: 60%;
   }

   .cols-sm-5 {
      width: 50%;
   }

   .cols-sm-6 {
      width: 40%;
   }

   .cols-sm-7 {
      width: 33.3333333333%;
   }

   .cols-sm-8 {
      width: 20%;
   }

   .cols-sm-9 {
      width: 16.6666666667%;
   }
}

@media screen and (min-width: 768px) {
   .row-cols-md-1 > * {
      width: 100%;
   }

   .row-cols-md-2 > * {
      width: 50%;
   }

   .row-cols-md-3 > * {
      width: 33.3333333333%;
   }

   .row-cols-md-4 > * {
      width: 25%;
   }

   .row-cols-md-5 > * {
      width: 20%;
   }

   .row-cols-md-6 > * {
      width: 16.6666666667%;
   }

    // column grid--------------------------------->>>>>

   .cols-md-1 {
      width: 100%;
   }
   
   .cols-md-2 {
      width: 80%;
   }

   .cols-md-3 {
      width: 66.6666666666%;
   }

   .cols-md-4 {
      width: 60%;
   }

   .cols-md-5 {
      width: 40%;
   }

   .cols-md-6 {
      width: 33.3333333333%;
   }

   .cols-md-7 {
      width: 20%;
   }

   .cols-md-8 {
      width: 16.6666666667%;
   }

   .cols-md-9 {
      width: 50%;
   }
}

@media screen and (min-width: 1364px) {
   .row-cols-lg-1 > * {
      width: 100%;
   }

   .row-cols-lg-2 > * {
      width: 50%;
   }

   .row-cols-lg-3 > * {
      width: 33.3333333333%;
   }

   .row-cols-lg-4 > * {
      width: 25%;
   }

   .row-cols-lg-5 > * {
      width: 20%;
   }

   .row-cols-lg-6 > * {
      width: 16.6666666667%;
   }

// column grid--------------------------------->>>>>

   .cols-lg-1 {
      width: 100%;
   }

   .cols-lg-2 {
      width: 80%;
   }

   .cols-lg-3 {
      width: 66.6666666666%;
   }

   .cols-lg-4 {
      width: 60%;
   }

   .cols-lg-5 {
      width: 40%;
   }

   .cols-lg-6 {
      width: 33.3333333333%;
   }

   .cols-lg-7 {
      width: 20%;
   }

   .cols-lg-8 {
      width: 16.6666666667%;
   }

   .cols-lg-9 {
      width: 41.6666666667%;
   }

   .cols-lg-9 {
      width: 41.6666666667%;
   }

   .cols-lg-10 {
      width: 58.33333333333%;
   }

}